@font-face {
	font-family: "Montserrat";
	src: url('Montserrat-Regular.otf');
}

@font-face {
	font-family: "QuattrocentoSans";
	src: url('QuattrocentoSans.ttf');
}

@font-face {
	font-family: "LeagueSpartan";
	src: url('LeagueSpartan-Bold.otf');
}

@font-face {
	font-family: "Roboto";
	src: url('RobotoCondensed-Light.ttf');
}

.georgia {
	font-family: "Georgia", serif
}

.agency {
	font-family: "Agency FB", sans-serif
}

.roboto {
	font-family: "Roboto", sans-serif
}

.leaguespartan {
	font-family: "LeagueSpartan", sans-serif
}

.montserrat {
	font-family: "Montserrat", sans-serif
}

.quattrocento {
	font-family: "QuattrocentoSans", sans-serif
}

.bold {
	font-weight: bold
}

.italic {
	font-style: italic
}

a {
	text-decoration: none
}

.spacer {
	height: 57px
}

.vh {
	height: 100vh
}

.indicator {
	padding: 2.5px;
	font-size: 24px;
}

.ambient {
	color:#fff!important;
	background-color:#101010!important;
}

.hover-ambient:hover {
	color:#fff!important;
	background-color:#303030!important;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#header-1 {
	background-image: url('../images/landing_image_2.jpg');
	min-height: 100%;
	background-position: center top;
	background-size: cover;
	

}

#main {

position: relative;
display:flex;
}



#psa-2018-migration {
	background-image: url('../images/psa-2018-migration.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#psa-migration {
	background-image: url('../images/psa-migration.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#psa {
	background-image: url('../images/psa.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#world-bank {
	background-image: url('../images/world-bank.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#unicef {
	background-image: url('../images/unicef.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#wpp {
	background-image: url('../images/un-wpp.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#macrotrends {
	background-image: url('../images/macrotrends.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#cfo {
	background-image: url('../images/cfo.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#dfa {
	background-image: url('../images/dfa.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#dilg {
	background-image: url('../images/dilg.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#iacat {
	background-image: url('../images/iacat.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#dole {
	background-image: url('../images/dole.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#oecd {
	background-image: url('../images/oecd.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#owwa {
	background-image: url('../images/owwa.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}



#poea {
	background-image: url('../images/poea.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#dswd {
	background-image: url('../images/dswd.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#nlrc {
	background-image: url('../images/nlrc.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#immigration {
	background-image: url('../images/immigration.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#nbi {
	background-image: url('../images/nbi.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#dict {
	background-image: url('../images/dict.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#tesda {
	background-image: url('../images/tesda.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#sws {
	background-image: url('../images/sws.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#cifal {
	background-image: url('../images/up-cifal.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#data-world {
	background-image: url('../images/data.world.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#ucsd {
	background-image: url('../images/ucsd.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#stats-oecd{
	background-image: url('../images/oecd-stat.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#our-world-in-data{
	background-image: url('../images/our-world-in-data.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#un-pop-migration{
	background-image: url('../images/un-pop-migration.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#eu-commission{
	background-image: url('../images/eu-commission.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#ilo{
	background-image: url('../images/ilo-data.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#migration-data-portal{
	background-image: url('../images/migration-data-portal.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#migration-data-portal-2{
	background-image: url('../images/migration-data-portal-2.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#gmdac {
	background-image: url('../images/gmdac.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#ilo-stat {
	background-image: url('../images/ilo-stat.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#ph-gender {
	background-image: url('../images/ph-gender.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#ph-soc-dev {
	background-image: url('../images/ph-soc-dev.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#ph-soc-labor {
	background-image: url('../images/ph-soc-labor.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#ph-soc-combined {
	background-image: url('../images/ph-soc-combined.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#covid19-indicators {
	background-image: url('../images/covid19-indicators.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#gdelt {
	background-image: url('../images/gdelt.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#gtrends {
	background-image: url('../images/gtrends.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#osm {
	background-image: url('../images/osm.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#acled {
	background-image: url('../images/acled.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#uppsala {
	background-image: url('../images/ucdp.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#meta-data {
	background-image: url('../images/meta-data.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#google-earth {
	background-image: url('../images/google-earth.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#sentinel-hub {
	background-image: url('../images/sentinel-hub.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#usgs {
	background-image: url('../images/usgs.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#copernicus {
	background-image: url('../images/copernicus.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#nasa-eo {
	background-image: url('../images/nasa-eo.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#ctdc {
	background-image: url('../images/ctdc.png');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-open-marawi {
	background-image: url('../images/data_open_marawi.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-open-bangsamoro {
	background-image: url('../images/data_open_bangsamoro.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-bsp {
	background-image: url('../images/data_bsp.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-covid-dashboard {
	background-image: url('../images/data_covid_dashboard.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-doh-covid-tracker {
	background-image: url('../images/data_doh_covid_tracker.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-doh-publications {
	background-image: url('../images/data_doh_publications.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-doh-statistics {
	background-image: url('../images/data_doh_statistics.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-global-open-data {
	background-image: url('../images/data_global_open_data.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-google-news {
	background-image: url('../images/data_google_news.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-google-ngram {
	background-image: url('../images/data_google_ngram.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-google-trends {
	background-image: url('../images/data_google_trends.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-humanitarian-data-exchange {
	background-image: url('../images/data_humanitarian_data_exchange.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-landviewer {
	background-image: url('../images/data_landviewer.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-leads-psphp {
	background-image: url('../images/data_leads_psphp.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-nasa-worldview {
	background-image: url('../images/data_nasa_worldview.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-sentinel-hub {
	background-image: url('../images/data_sentinel_hub.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-noah {
	background-image: url('../images/data_noah.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-noah-resources {
	background-image: url('../images/data_noah_resources.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}


#data-open-data-ph {
	background-image: url('../images/data_open_data_ph.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-pdic {
	background-image: url('../images/data_pdic.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-social-searcher {
	background-image: url('../images/data_social_searcher.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-trading-economics {
	background-image: url('../images/data_trading_economics.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-up-endcov-ph {
	background-image: url('../images/data_up_endcov_ph.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-usgs {
	background-image: url('../images/data_usgs.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-worldbank {
	background-image: url('../images/data_worldbank.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-psa {
	background-image: url('../images/data_psa.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-bangsamoro-data-challenge {
	background-image: url('../images/data_bangsamoro_data_challenge.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-philmicrosat {
	background-image: url('../images/data_philmicrosat.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-pagasa {
	background-image: url('../images/data_pagasa.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-pagasa-mdsi {
	background-image: url('../images/data_pagasa_mdsi.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-dilg {
	background-image: url('../images/data_dilg.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-coa {
	background-image: url('../images/data_coa.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-neda-infographics {
	background-image: url('../images/data_neda_infographics.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-neda-publications {
	background-image: url('../images/data_neda_publications.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-neda-iec {
	background-image: url('../images/data_neda_iec.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-dotr {
	background-image: url('../images/data_dotr.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-dost-faultfinder {
	background-image: url('../images/data_dost_faultfinder.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-hazard-hunter {
	background-image: url('../images/data_hazard_hunter.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-awesome {
	background-image: url('../images/data_awesome.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-project-tycho {
	background-image: url('../images/data_project_tycho.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-uppsala {
	background-image: url('../images/data_uppsala.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-wfp-hunger-lab {
	background-image: url('../images/data_wfp_hunger_lab.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-wfp-hungermap {
	background-image: url('../images/data_wfp_hungermap.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#data-who-health {
	background-image: url('../images/data_who_health.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#theme-education {
	background-image: url('../images/theme_education.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#theme-health {
	background-image: url('../images/theme_health.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#theme-peace {
	background-image: url('../images/theme_peace.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#theme-economy, #header-2 {
	background-image: url('../images/theme_economy.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#about_bangsamoro {
	background-image: url('../images/about_bangsamoro.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

.headers {
	height: 100vh;
}

.dataset {
	height: 150px;
}